<th:block th:include="layout:: page">
	<div th:replace=":: content" style="width: 100%;"></div>
</th:block>

	<div th:fragment="content" style="width: 100%;">

		<head>
			
		</head>
		<body>
		<h2>Create task</h2>
		<p>There you could create own task.</p>
		</body>
			<div>
				
				<form action="#" th:action="@{/createTask}" th:object="${taskDTO}" id="task"  th:method="post" enctype="multipart/form-data">
				
				<table>
					<tr>
						<td>
							<th:label>Name</th:label>
						</td>
						<td>
							 <input th:type="text" id="name" th:field="*{userName}"/>
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Email</th:label>
						</td>
						<td>
							 <input th:type="email" id="email" th:field="*{userEmail}" />
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Description</th:label>
						</td>
						<td>
							<textarea rows="20" cols="80" id="description" th:field="*{description}" >
			    			</textarea>
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Picture</th:label>
						</td>
						<td>
							 <input th:type="file" id="img" th:field="*{img}" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="upload" />
							<button type="submit" id="save">Save</button>
						</td>
					</tr>
				</table>
				</form>
			</div>
	</div>

