<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Create task</h2>
<p>There you could create own task.</p>
</body>
	<div th:if="${username == 'admin'}">
	    authenticated as <div th:text="${username}"/>
	    <form th:action="@{/loginPage?logout}" method="post" enctype="multipart/form-data"/>    
	</div>
	<div>
		<form  action="#" th:action="@{/createTask}" th:object="${taskDTO}" method="post">
		<table>
			<tr>
				<td>
					<th:label>Name</th:label>
				</td>
				<td>
					 <input th:type="text" id="name" th:field="*{userName}"/> <br />
				</td>
			</tr>
			<tr>
				<td>
					<th:label>Email</th:label>
				</td>
				<td>
					 <input th:type="email" id="enail" th:field="*{userEmail}" />
				</td>
			</tr>
			<tr>
				<td>
					<th:label>Description</th:label>
				</td>
				<td>
					<textarea rows="20" cols="80" id="description" th:field="*{description}" >
	    			</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<th:label>Picture</th:label>
				</td>
				<td>
					 <input th:type="file" id="img" th:field="*{img}" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input th:type="submit" th:id="submit" th:value="Submit" />
				</td>
			</tr>
		</table>
		</form>
	</div>
</html>
