<th:block th:include="layout:: page">
	<div th:replace=":: content" style="width: 100%;"></div>
</th:block>

	<div th:fragment="content" style="width: 100%;">
		
		<script type="text/javascript">
		var theDialog = null;
		
		$(document).ready(function()
		{
			theDialog = $("#dialog").dialog(opt);
			theDialog.dialog('close');
			var opt = {
			        autoOpen: false,
			        modal: true,
			        width: 550,
			        height:650,
			        title: 'Preview Task'
			};
			
		});	
			
		
		
			function previewTask()
			{
				var formData = new FormData($("#task")[0]);
				$.ajax({
					  type: "POST",
					  url: "/preViewTask",
					  data: formData,
					  success: function(resp)
					  {
						  console.log(resp);
						  $( "#previewContent" ).html(resp);
						  theDialog.dialog('open');
					  },
				        cache: false,
				        contentType: false,
				        processData: false
					});
			}
		</script>

		<head>
			<title>Create Task</title>
		</head>
		<body>
			<h2>Create task</h2>
			<p>There you could create own task.</p>
			<div>
				<form action="#" th:action="@{/createTask}" th:object="${taskDTO}" id="task"  th:method="post" enctype="multipart/form-data">
				
				<table>
					<tr>
						<td>
							<th:label>Name</th:label>
						</td>
						<td>
							 <input th:type="text" id="name" th:field="*{userName}"/>
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Email</th:label>
						</td>
						<td>
							 <input th:type="email" id="email" th:field="*{userEmail}" />
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Description</th:label>
						</td>
						<td>
							<textarea rows="20" cols="80" id="description" th:field="*{description}" >
			    			</textarea>
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Picture</th:label>
						</td>
						<td>
							 <input th:type="file" id="img" th:field="*{img}" />
						</td>
					</tr>
					<div th:if="${username == 'admin'}">
						<tr>
							<td>
								<th:label>State</th:label>
							</td>
							<td>
								 <input type="checkbox" name="state" th:checked="${state}" />
							</td>
						</tr>
					</div>
					<tr>
						<td colspan="2">
							<button type="button" onclick="previewTask()">Preview a Task</button>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="submit" />
						</td>
					</tr>
				</table>
				</form>
			</div>
			<div id="dialog" style="display:none">
				<div id="previewContent"></div>
			</div>
		</body>
	</div>

