<th:block th:include="layout:: page">
	<div th:replace=":: content" style="width: 100%;"></div>
</th:block>

<div th:fragment="content" style="width: 100%;">
	<head>
		<title>Login Form</title>
	</head>
	<body>
	
	<h2>Login</h2>
	
	<h1>Login page</h1>
	    <p th:if="${error}" class="error">Wrong user or password</p>
	    
		<div th:if="${username == 'admin'}" style="margin: 2px;">
		    <form th:action="@{/loginPage?logout}" method="post">
		    	<input type="submit" value="Log out" /> 
			</form>
		</div>
		
	    <div th:if="${username != 'admin'}" style="margin: 2px;">
			<form th:action="@{/loginPage}" method="post">
		    	<table>
		    		<tr>
		    			<td>
		    				<label for="username">Username</label>:
		    			</td>
		    			<td>
		    				<input type="text" id="username" name="username" autofocus="autofocus" />
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<label for="password">Password</label>:
		    			</td>
		    			<td>
		    				<input type="password" id="password" name="password" /> <br />
		    			</td>
		    		</tr>
		    	</table>
		      
		      
		      
		      
		      <input type="submit" value="Log in" />
		    </form>
	    </div>
	</body>
</div>
