<th:block th:include="layout:: page">
	<div th:replace=":: content" style="width: 100%;"></div>
</th:block>


<div th:fragment="content" style="width: 100%;">

		<script type="text/javascript">
			function submitTask(taskid, description, submited)
			{
				$.ajax({
					  type: "POST",
					  url: "/submitTask",
					  data: {
						  "id":taskid.html(),
						  "description":description.val(),
						  "submited" : submited.is(":checked"),
						  },
					  success: function(resp)
					  {
						  if(resp = "tasksQuery")
						  	window.location = "tasksQuery"
					  }
					});
			}
		</script>
		<div th:switch="${username}">
			<div th:case="'admin'">
				<div> Admin </div>
			</div>
			<div th:case="*">
				<div > Usual value</div>
			</div>
		</div>

		<head>
			<title>Preview task</title>
		</head>
		<body>
			<h2>Task</h2>
			<div>
				<div th:text="${task.id}" id="idTask" hidden/>
				<table>
					<tr>
						<td>
							<th:label>Name</th:label>
						</td>
						<td>
							 <div th:text="${task.userName}" id="nameV" />
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Email</th:label>
						</td>
						<td>
							 <div th:text="${task.userEmail}" id="emailV" />
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Description</th:label>
						</td>
						<td>
							<th:block th:if="${username == 'admin'}">
								<textarea rows="20" cols="80" id="descriptionV" th:text="${task.description}"/>
							</th:block>
							<th:block th:if="${username != 'admin'}">
								<textarea readonly rows="20" cols="80" id="descriptionV" th:text="${task.description}"/>
							</th:block>
						</td>
					</tr>
					<tr>
						<td>
							<th:label>Picture</th:label>
						</td>
						<td>
							<img th:src="@{/allimgs/{imgPath}/ (imgPath=${imgPath})}" id="imgV" />
						</td>
					</tr>
					<th:block th:if="${username == 'admin'}">
						<tr>
							<td>
								<th:label>State</th:label>
							</td>
							<td>
								 <input type="checkbox" id="state" th:checked="${task.state}" />
							</td>
						</tr>
					</th:block>
					<th:block th:if="${username == 'admin'}">
						<tr>
							<td colspan="2">
								<button type="button" id="submitTask"  onclick="submitTask($('#idTask'),$('#descriptionV'), $('#state'))">Submit Task</button>
							</td>
						</tr>
					</th:block>
				</table>
			</div>
		</body>
	</div>
	
	



	

