<th:block th:include="layout:: page">
	<div th:replace=":: content" style="width: 100%;"></div>
</th:block>

<div th:fragment="content" style="width: 100%;">

  <script th:inline="javascript">
    
  	//thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${sortDesc}]]*/ null;
    var currentPage = /*[[${page.number}]]*/ 0;
    var pageSize =/*[[${page.size}]]*/ 0;
    /*]]>*/

    $(document).ready(function()
	{
     //show up/down arrows
    $("table#tsk-table thead th").each(function()
	{
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc?'▾':'▴');
        }
      });

     //set click action, reload page on clicking with all query params
    $("table#tsk-table thead th").click(function() 
	{
		var headerSortPropName = $(this).attr("data-sort-prop");
		if(headerSortPropName==sortProperty)
      	{
			window.location.href = window.location.pathname+
			'?page='+currentPage+'&size='+pageSize+'&sort='+ headerSortPropName+','+
			(sortDesc?'asc':'desc');
		}
		else
		{
			window.location.href = window.location.pathname+
			'?page='+currentPage+'&size='+pageSize+'&sort='+ headerSortPropName+',asc';
      	}
      });
    });
  </script>
  
  <h2>List of Tasks</h2>
  <p>There you could see all tasks which were placed</p>

	<h2>Tasks</h2>
	<table id="tsk-table">
	    <thead>
	    <tr>
	        <th data-sort-prop="id"	>Id</th>
	        <th data-sort-prop="userName">Name</th>
	        <th data-sort-prop="userEmail">email</th>
	        <th data-sort-prop="description">Description</th>
	        <th data-sort-prop="id">Img</th>
	    </tr>
	    </thead>
	    <tr th:each="task : ${page.content}">
	        <td th:text="${task.id}"></td>
	        <td th:text="${task.userName}"></td>
	        <td th:text="${task.userEmail}"></td>
	        <td th:text="${task.description}"></td>
	        <td th:text="${task.img}"></td>
	    </tr>
	</table>
	
	<div class="pagination-div" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
	    <span th:if="${page.hasPrevious()}">
	        <a th:href="@{/tasksQuery(page=${page.number-1},size=${page.size},sort=${sortParam})}">Previous</a>
	    </span>
	    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
	        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
	        <span th:unless="${page.number == i}">
	             <a th:href="@{/tasksQuery(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
	        </span>
	    </th:block>
	    <span th:if="${page.hasNext()}">
	        <a th:href="@{/tasksQuery(page=${page.number+1},size=${page.size},sort=${sortParam})}">Next</a>
	    </span>
	</div>
</div>
